.movie_item{
    display: inline-grid;
    position: flex;
    width: 150px;
    height: 300px;
    background-color: #252526;
}

.movie_img img{
    width: 140px;
    height: 200px;
    margin: 5px auto;
}

.movie_info{
    display: none;
    width: 140px;
    height: 200px;
    margin: 5px auto;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .7);
}
.movie_item:hover .movie_info{
    display: block;
}

.movie_title{
    display: flex;
    height: 35px;
    width: 140px;
    margin: 5px auto;
}

.movie_year{
    position: relative;
    float: right;
    margin-right: 15px;
}