@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

body {
  background: #252526 !important;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #f6f5f7 !important;
  font-family: "Orbitron", sans-serif !important;
}
h1 {
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  color: #ffffff;
  font-size: 14px;
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  margin: 15px 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-family: "Orbitron", sans-serif;
  margin: 20px 0 30px;
}

button {
  border-radius: 20px;
  border: 3px solid #2f808b;
  background-color: #2f808b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

button:hover {
  border: 3px solid #2f808b;
  background-color: white;
  color: #2f808b;
  cursor: pointer;
}


.movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-md-3 {
  width: 20%;
}

.card-desc {
  font-size: 14px;
  width: 70%;
  padding-bottom: 20%;
}

.sort-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
} 


.animationload {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.osahanloading {
  animation: 1.5s linear 0s normal none infinite running osahanloading;
  background: #fed37f none repeat scroll 0 0;
  border-radius: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  width: 50px;
}
.osahanloading::after {
  animation: 1.5s linear 0s normal none infinite running osahanloading_after;
  border-color: #85d6de transparent;
  border-radius: 80px;
  border-style: solid;
  border-width: 10px;
  content: "";
  height: 80px;
  left: -15px;
  position: absolute;
  top: -15px;
  width: 80px;
}

@keyframes osahanloading {
0% {
  transform: rotate(0deg);
}
50% {
  background: #85d6de none repeat scroll 0 0;
  transform: rotate(180deg);
}
100% {
  transform: rotate(360deg);
}
}

.badge { 
  position: relative;
  background-color: rgb(214, 230, 123);
  color: black;
  padding: 4px 4px;
  width: 70px;
}

.card-img {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  justify-content: center;
}


.image-flip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-members {
  margin-top: 150px;
  position: relative;
  width: 20%;
}

.img-fluid { 
  width: 150px;
  border-radius: 50px;
}