@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

body {
  background: #252526 !important;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #f6f5f7 !important;
  font-family: "Orbitron", sans-serif !important;
}
h1 {
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  color: #ffffff;
  font-size: 14px;
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  margin: 15px 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-family: "Orbitron", sans-serif;
  margin: 20px 0 30px;
}

button {
  border-radius: 20px;
  border: 3px solid #2f808b;
  background-color: #2f808b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

button:hover {
  border: 3px solid #2f808b;
  background-color: white;
  color: #2f808b;
  cursor: pointer;
}
