span.material-icons.MuiIcon-root.navBouton.MuiIcon-fontSizeLarge {
  color: #2f808b;
  width: 40px;
}

span.material-icons.MuiIcon-root.navBouton.MuiIcon-fontSizeLarge:hover {
  color: #2f808b;
  width: 40px;
}

span.material-icons.MuiIcon-root.navBouton.MuiIcon-fontSizeLarge:visited {
  color: #2f808b;
  width: 40px;
}
span.material-icons.MuiIcon-root.navBouton {
  color: #2f808b;
  width: 42px;
  height: 40px;
  font-size: 42px;
}

span.material-icons.MuiIcon-root.navBouton:hover {
  color: lightgrey;
}

/* .notification-container {
  margin-top: 80px !important;
} */

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links button {
  cursor: pointer;
  border: 0;
  color: grey;
  background: transparent;
  margin-left: -31px;
  margin-top: 8px;
}

.nav-links button:focus {
  outline: none;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }
}

.image_profil {
  position: relative;
  width: 3em;
  top: 5px;
  border-radius: 50px;
}