.unknow_page {
  margin: 120px auto;
  width: 600px;
}

.container_pwd {
  background-color: #1e1e1e;
  display: block;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 680px;
  height: 400px;
  max-width: 100%;
  margin: 94px auto;
}

h3 {
  text-align: center;
  letter-spacing: 3px;
  /* margin-bottom: 60px; */
}
