.Update_information {
  margin: 75px auto;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Update_password {
  margin: 75px auto;
  width: 600px;
}

form.avatar {
  display: flex;
  flex-direction: row-reverse;
}

.Update_avatar {
  margin: 75px auto;
  width: 600px;
  /* display: flex;
  flex-direction: row-reverse; */
}

.image_avatar {
  border-radius: 50%;
  width: 100px;
  margin: 10px;
}

.container_update {
  background-color: #1e1e1e;
  /* display: block; */
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 680px;
  /* height: 400px; */
  max-width: 100%;
  margin: 94px auto;
}

.center {
  display: block;
  width: 70px;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}

h3 {
  text-align: center;
  letter-spacing: 3px;
}

button.disketteBouton {
  border: none;
  color: none;
  background-color: #2f808b;
}
button.disketteBouton:hover {
  border: none;
  color: #2f808b;
}

span.material-icons.MuiIcon-root.savedisket:hover {
  color: #2f808b;
}

span.material-icons.MuiIcon-root.change-image:hover {
  color: #2f808b;
}

button.penBouton {
  border: none;
  color: none;
  background-color: #2f808b;
}

button.penBouton:hover {
  border: none;
  color: #2f808b;
}
