.Update_information {
  margin: 120px auto;
  width: 600px;
}

.Update_password {
  margin: 120px auto;
  width: 600px;
}

.Update_avatar {
  margin: 120px auto;
  width: 600px;
}

.image_avatar {
  border-radius: 50%;
  width: 100px;
}

.container_update {
  background-color: #1e1e1e;
  display: block;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 680px;
  /* height: 400px; */
  max-width: 100%;
  margin: 94px auto;
}
.Update_information {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.center {
  display: block;
  width: 70px;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}

h3 {
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 60px;
}
