.main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }

  img.logo{
        display: block;
    margin-left: 110px;
    margin-right: auto;
width: 150px;
    height: 100px;
  }
  
  .main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: black;
  }
  
  .main-navigation__title {
    color: black;
  }
  
  .main-navigation__title a {
    text-decoration: none;
    color: black;
  }
  
  .main-navigation__header-nav {
    display: none;
  }
  
  .main-navigation__drawer-nav {
    height: 100%;
  }
  
  @media (min-width: 768px) {
    .main-navigation__menu-btn {
      display: none;
    }
  
    .main-navigation__header-nav {
      display: block;
    }
  }

  .form-control{
    background-color: #ffffff0f;
  }

  button.loupe {
        margin-right: 250px;
    border: none;
    background-color: #ffdead14;
}