footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  z-index: 5;
}

.footer-container p {
  font-weight: 700;
  text-align: center;
  color: #2f808b;
  background-color: #0505053b;
  letter-spacing: 4px;
}
