.component {
    padding: 20px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.header {
    margin-bottom: 20px;
}

.title {
    font-size: 30px;
    margin-bottom: 5px;
}

.link {
    color: #2492a8;
}

.videoListItem {
    background-color: black;
    padding: 120px;
    position: relative;
    margin-bottom: 20px;
    width: 634px;
    height: 356px;
    margin: 0 auto;
}

.col-md-12 {
    width: 100%;
}


.tags a{border:1px solid #DDD;display:inline-block;color:#717171;background:#FFF;-webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border-radius:2px;margin:0 3px 6px 0;padding:5px 10px}
.tags a:hover{border-color:#08C;}
.tags a.primary{color:#FFF;background-color:#428BCA;border-color:#357EBD}
.tags a.success{color:#FFF;background-color:#5CB85C;border-color:#4CAE4C}
.tags a.info{color:#FFF;background-color:#5BC0DE;border-color:#46B8DA}
.tags a.warning{color:#FFF;background-color:#F0AD4E;border-color:#EEA236}
.tags a.danger{color:#FFF;background-color:#D9534F;border-color:#D43F3A}

.img-responsive1 { 
    position: relative;
    width: 4em;
    border-radius: 50px;
    margin-right: 10px;
}

.box-comment {
    display: flex;
    margin-bottom: 10px;
}
.username {
    display: flex;
}

.text-muted {
    margin-left: 10px;
    font-weight: 400;
    font-size: 10px;
    padding-top: 4px;
}

.box1 {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
}

.panel1 { 
    margin-left: 29px;
    margin-top: 40px;
    line-height: 40px;
}

.vd-player {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}